.img_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.occupation {
	color: #a3362a;
	transform: skew(-15deg, 0deg);
	font-weight: 800;
	text-align: center;
	font-size: 2em;
}

.main_display {
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main_display > div {
	width: 33.3%;
}

.name {
	font-size: 2em;
	text-align: center;
}

.landing_page_image {
	width: 10vw;
	height: 20vh;
	border-radius: 100%;
}

@media (max-width: 992px) {
	.img_container {
		display: none;
	}
	.name {
		font-size: 1.5em;
	}
	.occupation {
		font-size: 1.5em;
	}
	.main_display {
		justify-content: center;
		gap: 0.5em;
	}
}
