.repository {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	align-items: center;
	padding: .5em;
	border: 1px solid rgba(0, 0, 0, .25);
	border-radius: 1em;
	width: fit-content;
}

.name {
	font-weight: bold;
}

.date {
	font-size: 0.75em;
}
