.landing_page {
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
    height: 100vh;
}

.bottom_section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.landing_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}

.landing_section_header {
    font-size: 3.5vw;
    font-weight: bold;
}

.landing_section_content {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    border: 1px solid black;
    border-radius: 1em;
    height: fit-content;
    width: fit-content;
}
