
.language_list {
    max-height: 10vh;
    overflow: scroll;
}

.stat_text {
    font-size: .75em;
    opacity: 50%;
}

.aggregate_header {
    font-size: 1.25em;
}

.project_badge {
    height: fit-content;
    font-size: .75em;
}

@media only screen and (max-width: 992px) {
    .aggregate_header {
        font-size: .75em;
    }
}