
.language_list {
    max-height: 10vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.language_list::-webkit-scrollbar {
    display: none;
}

.stat_text {
    font-size: .75em;
    opacity: 50%;
}