@keyframes about_me_text_anim {
    0% {
        opacity: 0%;
        margin-left: -100vw;
    }
    100% {
        opacity: 100%;
        margin-left: 0vw;
    }
}

@media only screen and (max-width: 992px) {
    .about_me_text {
        max-height: 50vh;
        overflow-y: scroll;
    }
}

/* xs */
@media only screen and (max-width: 575px) {
    .about_me_paragraph {
        font-size: .75em !important;
    }
}

/* sm -- md */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .about_me_paragraph {
        font-size: .75em !important;
    }
}

.about_me_page {
    height: 100vh;
}

.about_me_text {
    animation-name: about_me_text_anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    max-height: 65vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.about_me_text::-webkit-scrollbar {
    display: hidden;
}

.about_me_text_header {
    border-bottom: 1px solid rgb(227, 181, 164);
}

.about_me_paragraph {
    text-indent: 3.5vw;
    font-weight: 1.1em;
    font-size: 1.8em;
    line-height: 2;
    margin-left: 5em;
    margin-right: 5em;
}