
@keyframes swing_right_anim {
    from {
        margin-right: -100%;
    }
    to {
        margin-right: 0%;
    }
}

.school_page {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.school_row {
    width: 85%;
    height: fit-content;
}

.school_container {
    border-width: 3.5px;
    border-style: solid;
    border-color: rgba(163, 54, 42, .5);
    min-height: 75vh;
}

.school_description {
    max-width: 40vw;
    max-height: 50vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    font-size: 1.5em;
}

.school_picture {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1em;
    min-width: 100%;
    min-height: 100%;
}

.school_description::-webkit-scrollbar {
    display: none;
}

.swing_right {
    animation-name: swing_right_anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* xs */
@media only screen and (max-width: 575px) {
    .school_description {
        font-size: .75em;
    }
}

/* sm -- md */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .school_description {
        font-size: .75em;
    }
}

/* lg - xl */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .school_description {
        font-size: 1.75em;
    }
}

/* xxl */
@media only screen and (min-width: 1201px) {
    .school_description {
        font-size: 1.75em;
    }
}

.toggle_container {
    top: 100%;
    left: 45%;
    width: 7vw;
}

.toggle_caret {
    border-width: 2px;
    border-style: solid;
    border-color: rgba(163, 54, 42, .5);
    transition: background-color .5s ease-in-out;
    transition: opacity 1s ease-in-out;
    cursor: pointer;
}

.toggle_caret:hover {
    background-color: white;
}