@keyframes contact_info_section_anim {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.contact_info_page {
    height: 100vh;
}

.contact_info_section {
    animation-name: contact_info_section_anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.contact_info_link {
    text-decoration: none;
    color: black;
    margin-left: 0.5em;
}
