
@keyframes occupation_skew_animation {
    0% {
        transform: none;
    }
    25% {
        transform: skew(-30deg, 0deg);
    }
    50% {
        transform: none;
    }
    75% {
        transform: skew(30deg, 0deg);
    }
    100% {
        transform: none;
    }
}

.occupation {
    animation: occupation_skew_animation 2s infinite linear;
}