.repo_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-height: 90vh;
    overflow-y: scroll;
    min-width: 50vw;
    scrollbar-width: none;
    padding-top: 2em;
    position: relative;
}

.repo_layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.repo_search,
.repo_search:focus {
    background-color: transparent;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    text-align: center;
}

.currently_selected {
    border: 1px solid rgba(0, 0, 255, 0.5);
    color: rgba(0, 0, 255, 0.85);
}

.repo_count {
    font-size: 0.75em;
    color: rgba(128, 128, 128, 0.75);
}
